.idea

*.o
*.lo
*.la
*.gmo

.libs
.deps

CMakeCache.txt
CMakeFiles

Makefile
Makefile.in

autom4te.cache

aclocal.m4
*/m4/libtool.m4
*/m4/ltargz.m4
*/m4/ltdl.m4
*/m4/ltoptions.m4
*/m4/ltsugar.m4
*/m4/ltversion.m4
*/m4/lt~obsolete.m4

config.h
config.h.in
config.h.in~
config.log
config.status
configure

*/libltdl
libtool

*/doc/doxygen
*/doc/doxyfile.temp
*/doc/Doxyfile
*/doc/Doxyfile_all
*/doc/Doxyfile_api

stamp-h1
*/po/stamp-po
*/po/POTFILES

libmp3splt/target
libmp3splt/include/libmp3splt/version.h
libmp3splt/libmp3splt.pc

newmp3splt/compile
newmp3splt/config.guess
newmp3splt/config.rpath
newmp3splt/config.sub
newmp3splt/depcomp
newmp3splt/install-sh
newmp3splt/missing
newmp3splt/src/mp3splt

mp3splt-gtk/build-aux
mp3splt-gtk/mp3splt-gtk.desktop
mp3splt-gtk/src/mp3splt-gtk

