Source: libmp3splt
Priority: optional
Maintainer: Ryan Niebur <ryanryan52@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50), gawk, libogg-dev, libvorbis-dev, libmad0-dev, libltdl3-dev, libid3tag0-dev, libpcre3-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://mp3splt.sourceforge.net/

Package: libmp3splt-dev
Section: libdevel
Architecture: any
Conflicts: libmp3splt
Replaces: libmp3splt
Depends: libmp3splt0 (= ${binary:Version}), ${misc:Depends}, libogg-dev, libvorbis-dev, libmad0-dev, libltdl3-dev, libid3tag0-dev, libpcre3-dev
Description: development files for libmp3splt0
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts: libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package contains the files needed to build programs against
 libmp3splt.

Package: libmp3splt-doc
Section: libdevel
Architecture: any
Conflicts: libmp3splt
Replaces: libmp3splt
Depends:
Description: documentation for libmp3splt
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts: libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package contains the documentation of the libmp3splt library.

Package: libmp3splt0-ogg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libmp3splt0 (= ${binary:Version})
Conflicts: libmp3splt
Replaces: libmp3splt
Provides: libmp3splt-plugin, libmp3splt-plugin-ogg
Description: Ogg Vorbis plugin for mp3splt
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts: libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package contains the Ogg Vorbis plugin.

Package: libmp3splt0-mp3
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libmp3splt0 (= ${binary:Version}), 
Conflicts: libmp3splt
Replaces: libmp3splt
Provides: libmp3splt-plugin, libmp3splt-plugin-mp3
Description: MP3 plugin for mp3splt
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts: libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package contains the MP3 plugin.

Package: libmp3splt0-flac
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libmp3splt0 (= ${binary:Version}), 
Conflicts: libmp3splt
Replaces: libmp3splt
Provides: libmp3splt-plugin, libmp3splt-plugin-flac
Description: Flac plugin for mp3splt
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts: libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package contains the Flac plugin.


Package: libmp3splt0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libmp3splt0-mp3, libmp3splt0-ogg, libmp3splt0-flac
Suggests: mp3splt, mp3splt-gtk
Conflicts: libmp3splt
Replaces: libmp3splt
Description: library for splitting MP3 and Ogg Vorbis files
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts: libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package contains the library needed to run programs that use
 libmp3splt, such as mp3splt and mp3splt-gtk.
