Source: mp3splt-gtk
Section: sound
Priority: optional
Maintainer: Ryan Niebur <ryanryan52@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0), libmp3splt-dev (>= 0.7.1), libgtk2.0-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, audacious-dev, gnome-doc-utils, libgnomeui-dev, rarian-compat
Standards-Version: 3.9.1
Homepage: http://mp3splt.sourceforge.net/

Package: mp3splt-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmp3splt0 (>= 0.7.1), libmp3splt0-mp3 | libmp3splt-plugin
Recommends: gstreamer0.10-plugins-good, libmp3splt0-ogg
Suggests: audacious
Description: Gnome application for lossless linear editing of audio files
 This application allows to cut an audio file into several tracks.
 Since there is no decoding step involved this means that MP3 (including
 VBR) and Ogg Vorbis can be split into smaller files without
 loosing any quality. Useful for splitting albums into tracks which
 can be done either manually, using freedb.org data from the net
 or using .cue files ...
