Source: mp3splt-gtk
Section: sound
Priority: optional
Maintainer: Munteanu Alexandru Ionut (io_alex_2002@yahoo.fr)
Build-Depends: debhelper (>= 4.0.0), libmp3splt (>= 0.6.1)
Standards-Version: 3.6.1.1

Package: mp3splt-gtk
Architecture: any
Depends: ${shlibs:Depends}, libmp3splt (>= 0.6.1)
Suggests: mp3splt
Description: GTK2 gui that uses libmp3splt for lossless linear editing
 of audio files (cut an audio file into several tracks.)
 Since there is no decoding step involved this means that MP3 (including
 VBR) and Ogg Vorbis can be split into smaller files without
 loosing any quality. Useful for splitting albums into tracks which
 can be done either manually, using freedb.org data from the net
 or using .cue files ...
 Homepage: http://mp3splt.sourceforge.net/

