Source: mp3splt-gtk
Section: sound
Priority: optional
Maintainer: Munteanu Alexandru Ionut (io_alex_2002@yahoo.fr)
Build-Depends: debhelper (>= 4.0.0), libmp3splt (>= 0.5.9)
Standards-Version: 3.6.1.1

Package: mp3splt-gtk
Architecture: any
Depends: ${shlibs:Depends}, libmp3splt (>= 0.5.9)
Suggests: mp3splt
Description: GTK2 gui that uses libmp3splt to split mp3 and ogg files without decoding
 Used to split MP3 (VBR supported) and Ogg Vorbis
 files into smaller files without decoding. Useful for splitting albums, either
 manually, using freedb.org data, or .cue files ...
 .
 Homepage: http://mp3splt.sourceforge.net/

