[Desktop Entry]
Name=Mp3splt-gtk audio splitter
GenericName=Sound Splitter
Comment=Split mp3 and ogg files without decoding

Icon=/usr/share/mp3splt-gtk/mp3splt-gtk_ico.png

Type=Application
Categories=Application;AudioVideo;Audio;AudioVideoEditing;

Exec=mp3splt-gtk
StartupNotify=false
Terminal=false
MimeType=application/ogg;audio/x-mp3;
